name: build with ppkg

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  ppkg:

    strategy:
      fail-fast: false
      matrix:
        version: [macos-15, macos-14, macos-26]

    runs-on: ${{ matrix.version }}

    steps:
      - run: curl -LO https://raw.githubusercontent.com/leleliu008/ppkg/master/ppkg
      - run: chmod a+x ppkg
      - run: ./ppkg setup
      - run: ./ppkg update

      - run: |
          cat >> ~/.ppkg/repos.d/official-core/formula/xcpkg.yml <<EOF
          git-sha: ${{ github.sha }}
          EOF

      - run: ./ppkg install xcpkg
      - run: ./ppkg bundle  xcpkg .tar.xz

      - run: rm -rf ppkg ~/.ppkg

      - run: tar vxf *.tar.xz --strip-components=1

      - run: bin/xcpkg

      - run: bin/xcpkg --help
      - run: bin/xcpkg -h

      - run: bin/xcpkg --version
      - run: bin/xcpkg -V

      - run: bin/xcpkg util printenv

      - run: bin/xcpkg about
      - run: bin/xcpkg about -v

      - run: bin/xcpkg sysinfo

      - run: bin/xcpkg completion zsh
      - run: bin/xcpkg completion zsh -v

      - run: bin/xcpkg formula-repo-list
      - run: bin/xcpkg formula-repo-add official-core https://github.com/leleliu008/xcpkg-formula-repository-official-core
      - run: bin/xcpkg formula-repo-list

      - run: bin/xcpkg formula-repo-add my_repo https://github.com/leleliu008/xcpkg-formula-repository-official-core
      - run: bin/xcpkg formula-repo-list
      - run: bin/xcpkg formula-repo-del my_repo
      - run: bin/xcpkg formula-repo-list

      - run: bin/xcpkg update

      - run: bin/xcpkg search lib
      - run: bin/xcpkg search zip

      - run: bin/xcpkg info-available libzip
      - run: bin/xcpkg info-available libzip --yaml
      - run: bin/xcpkg info-available libzip --json
      - run: bin/xcpkg info-available libzip summary
      - run: bin/xcpkg info-available libzip version
      - run: bin/xcpkg info-available libzip license
      - run: bin/xcpkg info-available libzip web-url
      - run: bin/xcpkg info-available libzip src-url
      - run: bin/xcpkg info-available libzip src-sha

      - run: bin/xcpkg depends libzip
      - run: bin/xcpkg depends libzip -t dot
      - run: bin/xcpkg depends libzip -t box

      - run: bin/xcpkg fetch gzip
      - run: bin/xcpkg fetch gsed -v

      - run: bin/xcpkg install libzip -v

      - run: bin/xcpkg tree libzip

      - run: bin/xcpkg info-installed libzip --prefix
      - run: bin/xcpkg info-installed libzip --files
      - run: bin/xcpkg info-available libzip --json
      - run: bin/xcpkg info-available libzip --yaml
      - run: bin/xcpkg info-installed libzip builtat
      - run: bin/xcpkg info-installed libzip builtat-iso-8601
      - run: bin/xcpkg info-installed libzip builtat-rfc-3339
      - run: bin/xcpkg info-available libzip version

      - run: bin/xcpkg bundle libzip tar.gz
      - run: bin/xcpkg bundle libzip tar.lz
      - run: bin/xcpkg bundle libzip tar.xz
      - run: bin/xcpkg bundle libzip tar.bz2
      - run: bin/xcpkg bundle libzip zip

      - run: |
          printf '%s\n' 'version: 1000' >> ~/.xcpkg/repos.d/official-core/formula/libzip.yml

      - run: bin/xcpkg ls-available
      - run: bin/xcpkg ls-installed
      - run: bin/xcpkg ls-outdated

      - run: bin/xcpkg is-available libzip
      - run: bin/xcpkg is-installed libzip
      - run: bin/xcpkg is-outdated  libzip

      - run: bin/xcpkg upgrade   libzip
      - run: bin/xcpkg reinstall libzip
      - run: bin/xcpkg uninstall libzip

      - run: bin/xcpkg formula-repo-list
      - run: bin/xcpkg formula-repo-add my_repo https://github.com/leleliu008/xcpkg-formula-repository-official-core
      - run: bin/xcpkg formula-repo-del my_repo

      - run: bin/xcpkg cleanup

      - run: bin/xcpkg upgrade-self
